---

---

<footer class="bg-desk-blue sticky flex h-[280px] justify-center brightness-90">
  <div
    class="flex h-full w-full max-w-[1440px] flex-col px-5 py-5 font-sans text-white md:grid
      md:grid-cols-[3fr_1fr_1fr] md:px-15 md:py-10"
  >
    <div class="flex h-full flex-col justify-between">
      <div class="flex flex-col gap-y-2 font-serif">
        <p class="text-xl">Explore our other sites:</p>
        <a target="_blank" href="https://www.instagram.com/whatweconsume_/"
          ><span class="font-serif">↗</span>&nbsp;<span class="text-lg italic underline"
            >WHAT WE CONSUME</span
          ></a
        >
      </div>
      <p class="font-serif text-lg leading-none font-light tracking-wide">
        ©&nbsp;Deskreview, 2025
      </p>
    </div>
    <div class="flex w-fit flex-col -space-y-0.75">
      <p class="text-slate-400">Instagram</p>
      <a
        class="font-xl font-serif whitespace-nowrap"
        target="_blank"
        href="https://www.instagram.com/deskreview/">@deskreview</a
      >
    </div>
    <div class="flex w-fit flex-col -space-y-1">
      <p class="text-base text-slate-400">Email</p>
      <a
        class="font-xl font-serif whitespace-nowrap"
        target="_blank"
        href="mailto:hello@deskreview.id?">hello@deskreview.id</a
      >
    </div>
  </div>
</footer>
