---
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A Branding and Campaign Strategy Studio."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Deskreview</title>
  </head>
  <body>
    <div class="root antialiased">
      <Navbar />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  :root {
    font-family: Inter, sans-serif;
    font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
    }
  }

  .root {
    isolation: isolate;
  }
</style>
